[submodule "lib/plugins/struct"]
	path = lib/plugins/struct
	url = git@github.com:cosmocode/dokuwiki-plugin-struct.git
[submodule "lib/plugins/bureaucracy"]
	path = lib/plugins/bureaucracy
	url = git@github.com:splitbrain/dokuwiki-plugin-bureaucracy.git
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = git@github.com:cosmocode/sqlite.git
[submodule "lib/plugins/structtemplate"]
	path = lib/plugins/structtemplate
	url = git@github.com:iainhallam/dokuwiki-plugin-structtemplate.git
